---
---

{% if entry.type == 'article' %}
  {% assign publication = entry.journal %}
{% else if entry.type == 'inproceedings' or entry.type == 'incollection' %}
  {% assign publication = entry.booktitle %}
{% else if entry.type == 'phdthesis' %}
  {% assign publication = entry.title %}
{% endif %}

{% if publication == '' %}
  {% assign publication = 'zzz' %}
{% endif %}

<div class="bib-entry my-1">
  {{ reference }}
  
  {% if entry.doi %}
    <a class="badge badge-pill badge-secondary" href="https://doi.org/{{ entry.doi }}" target="_blank" title="{{ entry.title }}">DOI</a>
  {% endif %}

  {% if entry.url %} 
    <a class="badge badge-pill badge-secondary" href="{{ entry.url|raw }}" target="_blank">url</a>
  {% endif %}
  
  <a class="badge badge-pill badge-light"
    data-toggle="popover" data-html="true" data-placement="bottom"
    title="BibTex entry"
    data-content="<pre class='text-muted small'>{{ entry.bibtex|escape }}</pre>">
    BibTeX
  </a>

  {% if entry.catafolk-googlebooks %} 
    <a class="badge badge-pill badge-light" href="{{ entry.catafolk-googlebooks }}" target="_blank">Google</a>
  {% endif %}

  {% if entry.catafolk-worldcat %} 
    <a class="badge badge-pill badge-light" href="{{ entry.catafolk-worldcat }}" target="_blank">Worldcat</a>
  {% endif %}
</div>
