
.bibliography div {
    margin-bottom: .5em;
    text-indent: -1em;
    padding-left: 1em;
}

.bibliography-col-2 {
    column-count: 2;
}

.bibliography-col-2 div {
    break-inside: avoid;
}

.bibliography-col-2 li:first-of-type div {
    margin-top:0 !important;
}

.bibliography-not-numbered .bibliography {
    padding-left: 1.5em;
}
.bibliography-not-numbered .bibliography li {
    list-style: none;
    text-indent: -1.5em;
}

.bibliography-not-numbered .bibliography a {
    text-indent: 0;
}

.list-group-item p {
    margin-bottom: 0 !important;
}