---
layout: default
---

<main class="container mt-5">
  <div class="row">
    <div class="jumbotron">
      <div>
        <h1 class="display-4">Catafolk</h1>
        <p class="lead" style="max-width: 700px">A catalogue of folk music datasets for computational ethnomusicology</p>
        <hr class="my-4">
        <p style="max-width: 700px">The project hopes to make datasets of folk music more easily accessible. 
        It provides a reference of datasets, but also aims to include some basic automatic analyses.</p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="card-columns">
      <div class="card bg-danger text-light">
        <div class="card-body">
          <p>
          This project is in its infancy: many things are still likely to change.
          If you are interested in the project, or want to contribute, please get in touch.
          Your comments and suggestions are also very welcome.
          </p>
          <a class="btn btn-outline-light text-light">Get in touch</a>
        </div>
      </div>
      
      {% assign datasets = site.datasets | where: "analyzed", true %}
      {% for dataset in datasets %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ dataset.title }}</h5>
          <p class="card-text">{{ dataset.description | markdownify }}</p>
          {% if dataset.tags %}
          <div class="mb-4">
            {% for tag in dataset.tags %}
            <span class="badge badge-pill badge-light">{{ tag }}</span>
            {% endfor %}
          </div>
          {% endif %}
          <a href="{{ site.baseurl }}{{ dataset.url }}" class="btn btn-dark">View {{ dataset.dataset_id }}</a>
        </div>
      </div>
      {% endfor %}
      <div class="card bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title">And more...</h5>
          <p class="card-text">Catafolk currently contains {{ site.datasets | size}} datasets.</p>
          <a href="{{ site.baseurl }}/pages/datasets.html" class="btn btn-light">View all datasets</a>
        </div>
      </div>
    </div>
  </div>
</main>

